<div id="news-feed">
  <ul id="remove-list-style">
  <% @posts.each do |post| %>
      <li>
        <p id="post-title"><a href="http://<%=post.url%>"><%= post.title %></a></p>
        <p><a href="/post/<%= post.id %>/post_vote" class="up_vote">&uarr;</a> Votes: <span><%= post.post_votes.count %></span> | Posted by: <a href="#"><%= post.user.name %></a> | <a href="/news/<%= post.id%>">Comments</a></p>
      </li>

      <% if @errors %>
        <ul>
          <% @errors.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

  <% end %>
  </ul>
</div>