<div id="single-post">
    <h3><%= @post.title %></a></h3>
    <p>Posted by: <a href=""><%= @post.user.name %></a> | <a href="/news/<%= @post.id %>">Comments</a></p>

<form action="/news/<%= @post.id %>" method="POST">
    <textarea id="content" type="text" cols="70" rows="10" name="comment[content]"></textarea>
    <% if logged_in? %>
    <input type="hidden" name="comment[user_id]" id="user_id" value="<%= current_user.id %>">
    <% end %>
    <input type="hidden" name="comment[post_id]" id="post_id" value="<%= @post.id %>">
    <p><input type="submit" value="add comment" class="button"></p>
</form>

<% if logged_in? && @post.user.id == current_user.id %>
    <form action="/news/<%= @post.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" class="button">
  </form>
<% end %>

<% if !@comments.nil? %>
    <div id="comment-container">
        <ul id="remove-list-style">
            <% @comments.each do |comment| %>
                <li>
                    <h5><a href="/comment/<%= comment.id %>/comment_vote" class="up_vote">&uarr;</a> Votes: <span id="vote_count"></span> | <%= comment.user.name %></h5>
                    <p>Comment: <%= comment.content%></p>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

</div>